@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Bungee+Tint&family=Gidole&family=Manrope:wght@200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Special Gothic", sans-serif;

}

.large-text{
    font-size: 80px;
}

.bg-light{
    display: flex;
}

.md-text{
    font-size: 30px;
}

.text-color{
    color: #8A47F6;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
}


.grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.horzenta{
    grid-column: auto / span 2;
}

.vertikal{
    grid-row: auto / span 2;
}

.Container-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
}


.images-one{
   grid-column: auto / span 2;
}


.Container-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fa-images{
    width: 40%;
    height: auto;
}

.images-three{
    grid-row: auto  / span 2;
}

@media only screen and (max-width: 600px){
    @media (max-width: 576px) {
        .horzenta {
          grid-column: span 1 !important;
        }
      
        .vertikal {
          grid-row: span 1 !important;
        }
      
        .grid {
          grid-template-columns: 1fr;
        }
        
           .images-one{
          grid-column: auto / span 1;
           }

           .large-text{
            font-size: 40px;
           }
           .fa-images{
            width: 100%;
            height: auto;
        }
 
      }
}